﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to AGL Pets</h1>
       
        <form method="post" asp-page="Index">
            <button type="submit" class="btn btn-primary" asp-page-handler="PetsOwnerGender">Get Pets by Owner Gender</button>
        </form>
    </div>
    <div class="offset-4">
        @if(Model.genderPetName != null && Model.genderPetName.Any())
        {
            @foreach(var el in Model.genderPetName)
            {
                <span><strong>@el.Gender</strong></span>
                <ul>
                    @foreach(var name in el.PetNames)
                    {
                        <li>@name</li>
                    }
                </ul>
                <br />
            }
        }
    </div>
